
.swiper-index-2  section {
  height: 448px;
  position: relative;
}
.swiper-time{
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.IndexSwiper .swiper {
    width: 100%;
    height: 100%;
    padding-bottom:10rem;
  }
  
  .IndexSwiper .swiper-slide span {
    line-height: 1.375em;
    opacity: .7;
    font-size: .9rem;
  }
  
  .IndexSwiper .swiper-slide a{
    text-decoration: none;
    color: white; 
  }
  .IndexSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 20px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #21284B;
    color: #fff;

  }
  .IndexSwiper .swiper-slide div{
    padding: 1.2em 1.5em 2em;
    display: flex;
    flex-direction: column;
  }
  .IndexSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
  }
  .index-swiper-title{
    margin-top: 3rem;
  }

  .IndexSwiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
left: 70px !important;
  }
  .IndexSwiper .swiper-button-next, .swiper-button-prev {
 
    top: 85% !important;
  }
  .IndexSwiper .swiper-button-prev:after,
  .IndexSwiper .swiper-button-next::after{
    font-size: 1.5rem !important; 
    color: white;
  }
  .IndexSwiper .swiper-button-next{
    border: 1px solid white;
    padding-left: 1.5rem;
    padding-right: 1.2rem;
    border-radius: 30px;
  }
  .IndexSwiper .swiper-button-prev{
    border: 1px solid white;
    padding-left: 1.2rem;
    padding-right: 1.5rem;
    border-radius: 30px;
  }
  .IndexSwiper .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal { 
    left: 12% !important;
    bottom: 85px !important; 
   
    height: 2px !important;
    background-color: rgba(255, 255, 255, 0.566);
  }
  .IndexSwiper .swiper-scrollbar-drag {
    background-color: rgb(51, 132, 232) !important;
    height: 100% !important;
  }
  @media (max-width:1345px) {
    .IndexSwiper  .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal { 
         width: 92% !important;
        bottom: 88px !important; 
        left: 18% !important;
      }
  }
  @media (max-width:800px) {
    .IndexSwiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
        left: 65px !important;
          } .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {  
           bottom: 88px !important;  
         }
  }

  @media (max-width:767px) {
    .IndexSwiper  .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {  
        bottom: 48px !important;  
        width: 92% !important;
        left: 4.5% !important;
      } .IndexSwiper .swiper-button-prev{
        left: 37% !important;
      }.IndexSwiper .swiper-button-next{
        left:49% !important;
      }.swiper-time{ 
        left: 17px !important;
      }
  }
  @media (max-width:500px) {
    .IndexSwiper .swiper-button-next{
        left:51% !important;
      }.IndexSwiper .swiper-button-prev{
        left: 35% !important;
      } .IndexSwiper .swiper-button-next, .swiper-button-prev {
 
        top: 82% !important;
      }.IndexSwiper .swiper-slide div {
        padding: 1.8em 1em 2em !important;
      }
  }
  @media (max-width:350px) {
    .IndexSwiper .swiper-button-prev{
        left: 31% !important;
      }
  }

/* /////// */



.IndexSwiper1 .swiper-slide{
  background: url( https://fixedfloat.com/media/thumbs/blog/news/FF-New_News_05-23_02_w768.jpg);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2.8rem 12rem 6rem 2rem;
  background-position: center !important;
}
.index-swiper-1-span{
  line-height: 1.975em !important;
  opacity: .7;
  width: 400px;
  position: relative;
 top: 20px;
  font-size: 1.2rem !important;
  margin-right: auto;
  color: white !important;
}
.IndexSwiper1 .swiper-slide p {
  font-size: 1.7em;
  width: 380px;
  line-height: 1;
}
.IndexSwiper1 .swiper-slide p{
  text-align: left;
 margin-right: auto; 
 position: relative;
 top: 20px;
}
.IndexSwiper1 .swiper-slide button{
  padding: .5em 1.5em;
  background-color: #008FDF;
  border-radius: 10px;
   position: relative;
   top: 60px;
  display: block;
  transition: .2s ease-in all;
  color: #fff;
  border: none;
  margin-right: auto;
}

.IndexSwiper1 .swiper-slide-next,
.IndexSwiper1 .swiper-slide{
  opacity: .3;
height: 400px !important ;
  position: relative;
  top: 50px;
}
.swiper-slide-active{
  height: 100% !important;
  position: unset !important;

  opacity: 1 !important;
}

@media (max-width:500px) {
  .IndexSwiper1 .swiper-slide{ 
    padding: 2.8rem 1rem 6rem 1rem   ;
  }.IndexSwiper1 .swiper-slide p {
    font-size: 1.2rem;
    line-height: 2rem !important;
    word-wrap: break-word;
    width: 100% !important;
  }.index-swiper-1-span {
    font-size: 1rem !important;
    width: 100% !important;
    word-wrap: break-word;
  }.IndexSwiper1 .swiper-slide button{
    font-size: .9rem;
  }.IndexSwiper1 .swiper-slide-next,
  .IndexSwiper1 .swiper-slide{
    top: 18px !important;
  }
}