 
.Blog{
    padding: 0rem 7.6rem; 
}
.blog-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 5rem;
    align-items: center;
}
.Blog-bg{
   display: block; 
    width:50%;
    border-radius: 50px;
    height: 512px;
    margin-right: 20px;
}
.blog-intro p{
    color: #fff;
font-size: 4em;
font-weight: 500;
margin: 0;
max-width: 15em;
filter: drop-shadow(0px 0 4px #000);
background-clip: text;
background-image: linear-gradient(180deg,#FFF 0,#B1DAFF 100%);
font-weight: 700;
line-height: 1.15em; 
}
.blog-intro span{
    color: white;
}
.blog-intro{
    position: relative;
    z-index: 999; 
}
.Blog main{
    color: white;
    margin-top: 12rem;
    line-height: 2rem;
}
.blog-intro span{
 position: relative;
 top: 10px;
}
.Blog .blog-intro,
.Blog main{
    padding: 0rem 2rem;
}

@media (max-width:1350px) {
    .Blog{
        padding: 0rem 2rem;
    }
}
@media (max-width:768px) {
    .Blog{
        padding: 0rem 1rem !important;
    }.blog-intro p {
        font-size: 3rem !important;
    }.Blog-bg {
        height: 340px !important;
    }.blog-intro {
        margin-top: 7rem !important;
    }
}
@media (max-width:767px) {
    .Blog .blog-intro,
.Blog main{
    padding: 0rem 0rem !important;
}.blog-header{
        flex-direction: column !important;
        justify-content: center;
    } .Blog-bg{
        width: 80% !important;
        margin-right: 0px !important;
    }.Blog main { 
        margin-top: 5rem;
    }
}
@media (max-width:500px) {
    .blog-intro p {
        font-size: 2rem !important;
    }.Blog-bg{
        height: 200px !important;
    }.blog-intro {
        margin-top: 3rem !important;
    }
}
@media (max-width:950px) {
    .Blog-bg{
        height: 300px;
    }
}