.OrderGuide main{
    background-color: #21284b;
    border-radius: 0.5em;
    color: #fff;
    margin-right: 1em;
    padding: 2.5em 2em;
    width: 70%;
}
@media (max-width:1000px) {
    .OrderGuide {
        flex-direction: column;
        padding: 1rem 0rem !important;
        gap: 15px;
    }.OrderGuide main {
        width: 100%;
    } .OrderGuide section  {
        width: 100% !important;
    }.OrderGuide section  img{
        display: none;
    }
}

.OrderGuide section div{
    background: linear-gradient(#21284b, rgb(38 42 100));
    padding: 2em 1.6em 1em 1.6em; 
    border-radius: 0.5em;
}
.OrderGuide section{
    background-color: #21284b; 
    border-radius: 0.5em;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    width: 30%;
}
.OrderGuide {
    display: flex;
    padding: 2rem;
}
.OrderGuide-main-title,.OrderGuide-section-title{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#FFF 0,#B1DAFF 100%);
    font-size: 2rem;
    font-weight: 600;
   
}
.OrderGuide-main-title{
    margin-bottom: 4rem;
}
.OrderGuide main div p{ 
margin-bottom: 0px;
font-family: 'Montserrat',Arial;
line-height: 2;
}
.OrderGuide main div{
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    justify-content: left;
    gap: 5px;
    margin-top: 20px;
}
 
.OrderGuide-icon{
    
    align-items: center;
    align-self: flex-start;
    background-color: #fff;
    border-radius: 3em;
    color: #008FDF;
    display: flex;
    height: 2.5em;
    justify-content: center;
    margin-right: 1em;
    min-width: 2.5em;
    width: 2.5em;
}
.OrderGuide-icon:after {
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    font-size: 1.5rem;
}
 .OrderGuide-icon1::after { 
    content: "\e22c"; 
}
.OrderGuide-icon2::after { 
    content: "\e30D";
}
 .OrderGuide-icon3::after { 
    content: "\e22a";
}
 .OrderGuide-icon4::after { 
    content: "\e22b";
}
 
.OrderGuide section span{
    font-size: .9em;
    font-weight: normal;
    position: relative;
    line-height: 1.4;
    width: 100%;
    color: rgba(255, 255, 255, 0.711);
}
.OrderGuide section input:focus,
.OrderGuide section input:hover {
    border-color: #008FDF;
}
.OrderGuide section input{ 
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 0.25em;
    color: #fff;
    font-size: 1em;
    padding: 0.8334em 0.6666667em;
    width: 100%;
    margin-top: 1rem;
    transition: .1s all ease-in;
}
.OrderGuide section button{
    border-radius: 0.25em;
   border: 0;
   color: white;
   font-weight: 600;
   transition: .3s all ease-in;
   width: 100%;
   background-color: #008FDF;
   padding: 1rem;
   cursor: pointer;
   margin-top: 1rem;
}
 .OrderGuide section button:hover {
    background-color: #063DA7;
}
.OrderGuide img{
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 10px;
}

@media (max-width:500px) {
    .OrderGuide main div {
        flex-direction: column-reverse;
    }.OrderGuide-icon {
        margin-left: auto;
        margin-top: 1rem;
        margin-right: auto !important;
    }.OrderGuide main div p {
        text-align: center;
    }
}