.OrderDetail-section div i{
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    margin-bottom: .5rem;
}
.order-done:after {
    content: "\e20b";
}
.order-wait:after {
    content: "\e209";
}
.order-await:after {

    content: "\e208"; 
}
.OrderDetail-section div i:after {
    background-color: #008FDF;
    color: #fff;
    border-radius: 2em; 
    display: inline-flex;
    line-height: 1;
    align-items: center;
    width: 1em;
    padding: 2.3rem;

    height: 1em;
    justify-content: center;
}
.OrderDetail-section div{
    color: white;
    display: block;
    font-size: 2.3em;
    margin-bottom: 0.3em;
    padding: 0;
    
}
.OrderDetail-section p{
    font-size: 1.2rem;
}
.OrderDetail-section {
    color: white;
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.order-flash:after {
    content: "\e230";
    font-family: "Icons";
    display: block;
    font-size: 2.3em;
    position: absolute;
    top: 0.5em;
    transform: translateX(-50%);
    z-index: 0;
}

@media (max-width:900px) {
    .order-details {
        justify-content: space-between;
    }.OrderDetail-section:after {
        right:-70% !important;
            }
}

@media (min-width:1201px) {
    .order-flash:after {

        right:-170px;
    }
}
@media (max-width:1200px) {
    .OrderDetail-section:after {
right:-80%;
    }.OrderDetail-section {
        color: white;
        font-family: "Icons";
        width: 165px;
    }.OrderDetail-section p{
          line-height: 2rem;
    }
  
}
@media (max-width:650px) {
    .order-details {
        padding: 2rem 0rem !important;
    }.OrderDetail-section div i:after {
        padding: 1.5rem !important;
    }.OrderDetail-section div i { 
        font-size: 1.4rem !important;
    }.OrderDetail-section:after {
        right:-20% !important;
            }.OrderDetail-section p {
                font-size: .9rem;
                line-height: 1.5rem !important;
            }.OrderDetail-section { 
                width: 149px;
            }.order-flash:after {
                font-size: 1rem;
                top:1.2rem;
            }
}

@media (max-width:380px) {
    .OrderDetail-section:after {
        right:-30% !important;
            }
}