.AdvantageSection{
    width: 33.33%;
    background: linear-gradient(180deg,#21284B 39.69%,#5153E7 146.53%);
    padding: 1.5em;
    border-radius: 0.5em;
    color: white;
}
.AdvantageSection div{
    background-color: #008FDF;
    padding: 0.8em;
    display: inline-block;
    border-radius: 3em;
    margin-bottom: 1em;
    
}
.AdvantageSection-icon{
    font-size: 1.5rem;
    position: relative;
    bottom: 1px;
}

@media (max-width:1023px) {
    .AdvantageSection {
        width: 100%;
    }
}
@media (max-width:767px) {
    .AdvantageSection div{
        margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50px;
    margin-bottom: 1rem;
    }.AdvantageSection{
        text-align: center;
    }
}