.AboutUs{
    padding: 0rem 7.6rem;

}
@media (max-width:1350px) {
    .AboutUs{
        padding: 0rem 2rem;
    }
}

.AboutUs-title{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#FFF 0,#B1DAFF 100%);
    font-weight: 700;
    line-height: 1.15em;
    font-size: 5rem;
}
.AboutUs-first-section{
    padding: 4rem 2rem;
}
.AboutUs-first-section div p{
    font-size: 1.5em;

    line-height: 1.7em;
    max-width: 33em;
}
.AboutUs-first-section div img{
width: 80px;
}
.AboutUs-first-section div{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding-top: 3rem;
}
.AboutUs-first-section{
    color: white;
}
.Advantages{
    padding:5rem 2rem;
}
.Advantages-title{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#FFF 0,#B1DAFF 100%);
    font-weight: 700;
    line-height: 1.15em;
    font-size: 3.5rem;
}
.Advantages main{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 2rem;
}


.Mission{
    overflow: hidden;
    width: 44em;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
}
.Mission:before {
    background-color: rgba(33,40,75,0.5);
    background-image: url('data:image/svg+xml,%3Csvg xmlns=http%3A%2F%2Fwww.…9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z %2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center 7%;
    background-size: 80%;
    border-radius: 31em;
    content: "";
    left: 50%;
    padding-bottom: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    color: white !important;
}
.Mission-title,.Supported-currencies-title{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg,#FFF 0,#B1DAFF 100%);
    font-weight: 700;
    line-height: 1.15em;
    margin-bottom: 0.7em;
    z-index: 999;
    font-size: 3.5rem;
    color: white !important;
    margin-top: 15rem;
}
.Mission p {
    font-size: 1.5em;
    width: 595px;
    padding-bottom: 6.5em;
    line-height: 2em;
    color: white !important;
    margin-right: auto;
    z-index: 999;
    margin-left: auto;
}
.about-mission-hand-right {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=http%3A%2F%2Fwww.…E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
}
.about-mission-hand-left {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=http%3A%2F%2Fwww.…E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
}
.about-mission-hand-logo {
    align-items: center;
    display: flex;
    height: 6em;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 4em;
    width: 6em;
}
.about-mission-hand-logo:before {
    backdrop-filter: blur(11.5px);
    background-color: rgb(48 64 119);
    border-color: #F7931A;
    border-radius: 5em;
    border-style: solid;
    border-width: 0 0 0 3px;
    box-shadow: -15px 10px 28px rgba(0,0,0,0.11);
    content: "";
    height: 100%;
    overflow: hidden;
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
}
.about-mission-hand-logo img{
    z-index: 999;
    width: 44px;
}
.about-mission-hand-left, .about-mission-hand-right {
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 60%;
    top: 4rem;
}
.about-mission-hand-right {
    z-index: 120;
}
.Supported-currencies-title{
    display: table-caption;
}
.Supported-currencies main{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
}

/* AboutUs-first-section */
@media (max-width:768px) {
    .AboutUs-title {
        text-align: center;
        font-size: 4rem;
    }  .AboutUs{
        padding:0rem 1rem !important;
    }
}
@media (max-width:630px) {
    .AboutUs-first-section div img{
        display: none;
    }.AboutUs-first-section {
        padding: 4rem 1rem;
    }.AboutUs-title {
        font-size: 3rem !important;
    }.AboutUs-first-section div p {
        font-size: 1.2em;
        text-align: center;
    }
}
/* AboutUs-first-section */
 


/* Advantages */
@media (max-width:1023px) {
    .Advantages main {
        display: grid !important;
        grid-template-columns: auto auto;
    }
}
@media (max-width:767px) {
    .Advantages main {
        grid-template-columns: auto;
    }.Advantages-title {
        font-size: 2.5rem !important;
        text-align: center;
    }.Advantages {
        padding: 5rem 1rem;
    }
}
/* Advantages */



/* Mission */
@media (max-width:767px) {
    .Mission {
        width: 100% !important;
    }.Mission-title{
        font-size: 2.5rem;
        margin-top: 30%;
    }.Mission p {
        font-size: 1em;
        word-wrap: break-word;
    width: 80%;
    
    }.Mission section{
        display: none !important;
    }
}
@media (max-width:500px) {
    .Mission-title{
        margin-top: 15%;
    }.Mission:before {
        height: 430px;
    }
}
@media (max-width:330px) {
    .Mission:before {
        height: 470px;
    }
    .Mission{
        padding-top: 1rem;
    }
}
/* Mission */


/* Supported */
@media (max-width:1230px) {
    .Supported-currencies main{
        grid-template-columns: auto auto auto auto ;
    }
}
@media (max-width:854px) {
    .Supported-currencies main{
        grid-template-columns: auto auto auto  ;
    }.Supported-currencies-title {
        font-size: 3rem;
    }
}
@media (max-width:669px) {
    .Supported-currencies main{
        grid-template-columns: auto auto   ;
    }.Supported-currencies-title {
        font-size:2.5rem;
        text-align: center;
        display: block;
        margin-bottom: 3rem;
    }
}
@media (max-width:424px) {
    .Supported-currencies main{
        grid-template-columns: auto  !important  ;
    }
}
/* Supported */